.container {
  max-width: 650px;
  margin: 5px;
  width: calc(100% - 10px);
  padding: 30px;
  border-radius: 10px;
  box-sizing: border-box;
  border: 1px solid #ced4da;
  background: #fff;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.25);
}

.text {
  word-break: break-all;
  text-align: left;
}

.bottom {
  ul {
    list-style-type: none;
    li {
      width: 30%;
    }
  }
}
